body{
	background-color: teal;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

main {
	background: rgba(255, 255, 255, 0.9);
	border-radius: 20px;
	box-shadow: 2px 2px 2px 2px black;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding:25px;
}

@media only screen and (max-width:600px) {
	main{
		max-width: 100%;
		background: rgba(255, 255, 255, 0.75);
	}
}

h1 {
	text-align:center;
	background: none;
	font-size: 44px;
	font-family: 'Rajdhani', sans-serif;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	color: grey;
	font-weight:lighter;
	letter-spacing: 6px;
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 25px;
}

img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 3px;
	border-radius: 10%;
	transition: transform 0.5s;
}

img:hover {
	transform: scale(1.05);
}
p,
ul,
ol {
	line-height:1.7;
	list-style: none;
	padding-left: 0;

}

a {
	color: teal;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: orange;
	text-decoration: underline;
}

h3 + * {
	display: none;
}

h3:hover {
	text-decoration: underline;
	color: orange;
	cursor: pointer;
}